{% load static %}

<!DOCTYPE html>
<html lang="es_CL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard "El Rasho"</title>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'dashboard/styles/style.css' %}">
</head>
<body>

    {% block content %}
    <!-- Autogenerado por Django-->
    {% endblock content %}

    <!-- Scripts -->
    <script src="{% static 'dashboard/script/index.js' %}"></script>
</body>
</html>